/*--- General Styling ---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- Navigation Bar ---*/

header nav{
    background-color: #5d5d68;;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #242424;
    text-transform: uppercase;
}

nav ul li {
    list-style: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-link{
    transition:0.7s ease;
}

.nav-link:hover{
    color: #cd9637;
    font-weight: 700;
}

.hamburger{
    display: block;
}

.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #5d5d68;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item{
    margin:16px 0;
}

.nav-menu.active{
    left: 0;
    color:#cd9637;
}

@media (min-width:769px) {
    .hamburger{
        display: none;
        cursor: pointer;
    }


.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    position: static;
    left: auto;
    top: auto;
    flex-direction: row;
    background: none;
    width: 50%;
}

}