/*--- General Styling ---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.btn{
    background-color: #6868c7;
    color: #242424;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 5%;
    display: inline-block;
    border: none;
}

p{
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    color:#242424;
    font-weight: 500;
}

h1{
    font-family: 'Mulish', sans-serif;
    font-size:2em;
    color:#252424;
    text-transform: uppercase;
    padding: 3% 0;
    text-align: center;
}

h2{
    font-family: 'Mulish', sans-serif;
    font-size:2em;
    color:#252424;
    padding-bottom: 2%;
}

/*--- Navigation Bar ---*/

header nav{
    background-color: #5d5d68;;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #242424;
}

nav ul li {
    list-style: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-item a:active,
.nav-item a:hover{
    color: #cd9637;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.hamburger{
    display: block;
}

.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #5d5d68;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item{
    margin:16px 0;
}

.nav-menu.active{
    left: 0;
    color:#cd9637;
}

/*--- Footer ---*/

footer{
    background-color: #cd9637;
    padding: 2% 0;
    text-align: center;
}

footer a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    display:inline-block;
    padding: 20px;
}

/*--------

Home Page

--------*/


/*--- Header ---*/

.header-img{
    background-image: url("../images/mountains.jpg");
    background-color: #5d5d68;
    width: 100%;
    background-size: cover;
    background-blend-mode: overlay;
    height: 60vh;
}

.logo{
    display: block;
    opacity: 100% !important;
    margin: 0 auto;
    padding-top: 20vh;
    max-height: 80%;
}

/*--- Home Content ---*/

.home-content{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.home-content-img{
    width:100%;
}

.home-event{
    background-color: #5d5d68;
    width: 100%;
}

.more-text{
    display: none;
}

.read-more-text.show-more .more-text{
    display: inline;
}

.event-one,
.event-two,
.event-three{
    background-color: white;
    margin-bottom: 5%;
    padding: 20px;
}

.event-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding-bottom: 5%;
}


/*--------

About Page

--------*/

/*-- About Content --*/

.about-content-container {
    display: flex;
    flex-direction: column;
    padding: 10%
}

.about-we-believe {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #5d5d68;
    padding-top: 5%;
}


/*--------

Donations Page

--------*/

.donation-ways{
    margin-top: 5%;
    background-color: #5d5d68;
    padding: 60px;
}

.donation-ways h2{
    text-transform: uppercase;
}

.donations-header{
    padding-left: 10%;
}

.tabbed-content-containter{
    width: 75%;
    margin: auto;
}
.tab {
    overflow: hidden;
    border: 1px solid #242424;
    background-color: #6868c7;
}

.tab button {
    background-color: #6868c7;
    float: left;
    border: none;
    padding: 14px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #cd9637;
}

.tab button:active {
    background-color: #242424;
    border: #242424;
}

.donation-amount {
    display: none;
    padding: 15px 30px;
    border: 1px solid #242424;
    border-top: none;
    background-color: #5d5d68;
}
/*--- Media Queries ---*/


@media (min-width:769px) {
    .hamburger{
        display: none;
        cursor: pointer;
    }


.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    position: static;
    left: auto;
    top: auto;
    flex-direction: row;
    background: none;
    width: 50%;
    padding-left: 5%;
}

.logo{
    margin-left: 5%;
}

.home-content{
    display: flex;
    flex-direction: row;
}

.home-content-img{
    width:50%;
    padding-right: 5%;
}

.event-list{
    flex-direction: row;
}


.event-one,
.event-two,
.event-three{
    background-color: white;
    margin-bottom: 0%;
}

.event-one,
.event-two{
    margin-right: 20px;
}

}


body { 
  color:white }

.f-input::placeholder {
  color:black;
  opacity:0.9;
}
.container {
  text-align: center;
  background-color: transparent;
  border:2px solid #242424;;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
   color:black;
  font-weight:500;
  font-size: 18px;
  border-radius: 4px;
  line-height: 22px;
  text-align:left;
}

.f-input:focus { 
  border:2px solid #3a3939; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

button {
  max-width:450px;
   font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background:#6868c7;
  border-radius:10px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
text-align:center;
  transition: all 0.3s;
  font-weight:600; 
}
button:hover {
  
 background:#3a3939; 
}

.money-img {
  width: 150px;
}

.currency select {
  padding: 10px 5px 10px 10px;
  border: .5px solid #dedede;
  font-size: 15px;
  background: transparent;
  background-size: 10px auto, 100%;
}

.currency input {
  border: 2px solid #dedede;
  background: transparent;
  font-size: 16px;
  text-align: center;
}

.swap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}

.rate {
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}



@media (maz-width: 600px) {
  .currency input {
    width: 200px;
  }